@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	font-family: "游ゴシック Medium", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	line-height: 1.6;
    font-size: 16px;
}
#header-container {
  margin: 0 auto;
  width: 960px;
}
header {
	background-color: #214555;
background: linear-gradient(to bottom, #000, rgba(43, 74, 113, 0.9));
background-size: cover;
background-position: center;}
#head-inner {
    padding: 25px 0;
}
h1 {
	font-size: 26px;
	font-weight: bold;
	padding: 10px 0 0 0;
	margin: 0;
	color: #f3e6d2;
}
h1 a {
	font-weight: bold;
	color: #f3e6d2;
	text-decoration: none;
}
h1 a:hover {
	color: #e8f3f9;
	text-decoration: none;
}
.description {
	line-height: 1.2;
	color: #f3f2eb;
	margin: 0.5em 0 1em 0;
}
h2 {
	font-size: 22px;
	margin: 0;
	padding: 4px 0;
	border-bottom: 1px solid #999;
}
#content-wrapper {margin: 0 auto;
    width: 960px;}
main {
	color: #333;
float: left; width: 70%;}
#inner {
	padding: 20px 0 0 0;
}
ul {
	margin: 0 0 0 1em;
	padding: 0;
}
li {
	list-style: disc;
}
p {
	margin: 1em 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #ccc;
	height: 1px;
}
a {
	font-weight: normal;
}
aside {

float: right; width: 28%;}
#middle-inner {
	padding: 20px 0 20px 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* メニューのスタイル */
.menu {
  position: fixed;
  top: 0;
  right: -100%; /* 初期状態では画面の外に隠れている */
  width: 300px;
  height: 100%;
  background-color: #fafad2;
  color: #333;
  transition: right 0.3s ease; /* スライドインのアニメーション */
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
}

/* メニューが開いているとき */
.menu.open {
  right: 0;
}

/* ボタンのスタイル */
.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  cursor: pointer;
  z-index: 20;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* メニューリストのスタイル */
.menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 80px;
}

.menu li {
  padding: 20px 0;
  border-bottom: 1px solid #444;
}

.menu li a {
  color: #333;
  text-decoration: none;
  display: block;
}
footer {
	font-size: 15px;
	height: 100px;
	clear: both;
	text-align: center;
}
blockquote {
	border: 1px solid #ccc;
	padding: 5px;
	margin: 10px;
}
@media screen and (max-width: 767px) {
#header-container {
    margin: 0;
	width: 100%;
}
header {

}
#head-inner {
    padding: 25px 10px;
	background-color: #214555;
}
.description {
}
#content-wrapper {
margin: 0;
	width: 100%;}
main {
width: 100%;
	color: #333;
}
#inner {
	padding: 20px 10px 0 10px;
}
aside {
width: 100%;
}
#middle-inner {
	padding: 10px 10px 20px 10px;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
}
